<div class="container">
  <h1>Sentimental Bose</h1>
  <a href="https://accounts.spotify.com/authorize/?client_id=7ca44c3bf52b4c689e188b565aa44942&response_type=code&redirect_uri=http://sentimental-bose.herokuapp.com/&scope=user-top-read%20playlist-modify-public">Login with Spotify</a>
  <form action="/twitter" method="GET">
    <button type="submit">Login with twitter</button>
  </form>
</div>
