<h1>Login with Twitter</h1>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="username" />
  <input type="password" name="password" placeholder="password" />
  <button href="/login">Login</button>
</form>
