* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font: 30px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40vh;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
a, button {
  color: #1da1f2;
  text-align: center;
  outline: none;
  background: none;
  text-decoration: none;
  box-shadow: 0;
  border: 0;
  font-size: 30px;
  padding: 5px;
}
a {
  color: #84bd00;
}
input {
  border: 1px solid black;
  height: 3vh;
  font-size: 15px;
}
